/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# bundler's vendorized gem installs
/vendor

# Solidus dummy app for testing
/spec/dummy
